.index-module_articleTitle_28fPT {
    font-size: 40px;
    line-height: 58px;
    padding-top: 41px;
    padding-bottom: 26px;
    text-align: justify;
    font-weight: 700;
    font-family: Microsoft Yahei,微软雅黑,宋体;
}

.index-module_articleSource_2dw16 {
    font-size: 18px;
    color: #999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.index-module_articleWrap_2Zphx {
    padding-top: 40px;
    padding-bottom: 30px;
}

.index-module_textWrap_3ygOcp {
    font-size: 16px;
    line-height: 24px;
    color: #333;
    text-align: justify;
}

#commentModule {
    margin-bottom: 300px;
}
