<div *ngIf="isLogin">
    <div >
        <header class="header header-6">
          <div class="branding">
            <a href="javascript:void(0)">
              <clr-icon shape="cloud"></clr-icon>
              <span class="title">San Xia University News System</span>
            </a>
          </div>
          <div class="header-actions">
    
              <clr-dropdown>
                  <button id="displayUserName" class="nav-text" clrDropdownTrigger>
                          {{username}}
                      <clr-icon shape="caret down"></clr-icon>
                  </button>
                  <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                      <a *ngIf="isLogin" (click)="logout()" clrDropdownItem>Log out</a>
                  </clr-dropdown-menu>
              </clr-dropdown>
          </div>
        </header>
    </div>

    <div #divManagementPage>
        <div class="main-body-div" #divManageHistory>
            <clr-main-container>
                <clr-datagrid [(clrDgSelected)]="selectedNews" [clrDgLoading]="loadingFlag" [clrDgRowSelection]="true">
                    <clr-dg-action-bar>
                        <div>
                            <mynews-alerts></mynews-alerts>
                        </div>
                        <div class="btn-group">
                            <div>
                                <button  [disabled]="!isLogin" class="btn btn-secondary"
                                    (click)="add()">
                                    <clr-icon shape="add"></clr-icon> Add
                                </button>
                                <button class="btn btn-secondary"
                                (click)="refresh()">
                                <clr-icon shape="refresh"></clr-icon> Refresh
                            </button>
                            </div>
                        </div>
                    </clr-dg-action-bar>
                    <clr-dg-column [clrDgField]="'title'">Title</clr-dg-column>
                    <clr-dg-column [clrDgField]="'owner'">Author</clr-dg-column>
                    <clr-dg-column [clrDgField]="'addtime'">Create Time</clr-dg-column>
                    <clr-dg-column >Actions</clr-dg-column>

                    <clr-dg-row *clrDgItems="let new of news_list" [clrDgItem]="new">
                        <clr-dg-cell>
                            <a target="_blank" [routerLink]="['newdetail', new._id]"
                            routerLinkActive="active">{{new.title}}</a>
                        </clr-dg-cell>
                        <clr-dg-cell>{{new.owner}}</clr-dg-cell>
                        <clr-dg-cell>{{new.addtime}}</clr-dg-cell>
                        <clr-dg-cell>
                            <div *ngIf="isOwner(new.owner)">
                                <button type="button" class="btn btn-link" (click)="editNew(new)">Edit  </button>
                                <span>  |  </span>
                                <button type="button" class="btn btn-link" (click)="deleteNew(new._id)">  Delete</button>
                            </div>
                        </clr-dg-cell>
                    </clr-dg-row>

                    <clr-dg-footer>
                        <clr-dg-pagination #pagination [clrDgPageSize]="(news_list?.length>=20)?100:20">
                            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Items per page</clr-dg-page-size>
                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                            of {{pagination.totalItems}} items
                        </clr-dg-pagination>
                    </clr-dg-footer>
                </clr-datagrid>
            </clr-main-container>
        </div>
    </div>
    
    <mynews-addnew (verify_added)="added($event)"></mynews-addnew>
    <mynews-editnew (verify_edited)="edited($event)"></mynews-editnew>
</div>
