<div #divManagementPage>
        <div class="main-body-div">
            <br>

            <clr-main-container>
                <clr-datagrid [(clrDgSelected)]="selectedTasks" [clrDgLoading]="loadingFlag">
                    <clr-dg-action-bar>
                        <div class="btn-group">
                            <span class="titleInfo">User Information</span>
                        </div>
                        <div>
                            <mynews-alerts></mynews-alerts>
                        </div>
                    </clr-dg-action-bar>
                    <clr-dg-column [clrDgField]="'task_name'">Name</clr-dg-column>
                    <clr-dg-column >Actions</clr-dg-column>

                    <clr-dg-row *clrDgItems="let task of usersList" [clrDgItem]="task">
                        <clr-dg-cell>{{task?.username}}</clr-dg-cell>
                        <clr-dg-cell>
                            <div *ngIf="task?.username !== 'admin'">
                                <button type="button" class="btn btn-link" (click)="deleteUser(task._id)"> Delete</button>
                            </div>
                        </clr-dg-cell>
                    </clr-dg-row>

                    <clr-dg-footer>
                        <clr-dg-pagination #pagination [clrDgPageSize]="100">
                            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Items per page</clr-dg-page-size>
                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                            of {{pagination.totalItems}} items
                        </clr-dg-pagination>
                    </clr-dg-footer>
                </clr-datagrid>
            </clr-main-container>
        </div>
</div>