<div #addSuiteDialog>
    <clr-modal [(clrModalOpen)]="isAddNewDialog" [clrModalSize]="'lg'">
        <h3 *ngIf="isAddNewDialog" class="modal-title">Change password</h3>
        <div class="modal-body">
            <form clrForm #quickReplayForm="ngForm">
                <div class="clr-form-control clr-row">
                    <div class="clr-col-12 clr-col-md-12">
                        <clr-input-container>
                            <label for="title">Old Password</label>
                            <input clrInput type="password" size="20" [(ngModel)]="oldpassword" name="title"
                                required>
                            <clr-control-error>Old password is required!</clr-control-error>
                        </clr-input-container>
                    </div>
                </div>

                <div class="clr-form-control clr-row">
                    <div class="clr-col-12 clr-col-md-12">
                        <clr-input-container>
                            <label for="title1">New Password</label>
                            <input clrInput type="password" size="20" [(ngModel)]="newpassword" name="title1"
                                required>
                            <clr-control-error>New password is required!</clr-control-error>
                        </clr-input-container>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
                    <button type="submit" class="btn btn-primary"(click)="changePassword()">Submit</button>
                </div>

            </form>
        </div>
    </clr-modal>
</div>