<div #addSuiteDialog>
    <clr-modal [(clrModalOpen)]="isAddNewDialog" [clrModalSize]="'lg'">
        <h3 *ngIf="isAddNewDialog" class="modal-title">Add New</h3>
        <div class="modal-body">
            <form clrForm #quickReplayForm="ngForm">
                <div class="clr-form-control clr-row">
                    <div class="clr-col-12 clr-col-md-12">
                        <clr-input-container>
                            <label for="title">Title *</label>
                            <input clrInput type="text" size="80" [(ngModel)]="title" name="title"
                                required>
                            <clr-control-error>Title is required!</clr-control-error>
                        </clr-input-container>
                    </div>
                </div>

                <div class="clr-form-control clr-row">
                    <div class="clr-col-12 clr-col-md-12">
                        <clr-textarea-container>
                            <label>Content</label>
                            <textarea clrTextarea [(ngModel)]="content" name="content" required class="tsize"></textarea>
                          </clr-textarea-container>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
                    <button type="submit" class="btn btn-primary"(click)="add()">Submit</button>
                </div>

            </form>
        </div>
    </clr-modal>
</div>